/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  border-radius 50%

.hero
  background white

.home
  padding none!important


body
  background-image url(/bg.png)

