/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  border-radius 50%

.hero
  background white

.home
  padding none!important


body
  background-image url(/bg.png)

.button
  background $accentColor

.theme-default-content.custom
  padding-left 2rem
  padding-right 2rem

.btn
  background $accentColor
  color white
  padding 1rem
  border-radius .5rem